small
{
    color: red;
}
.IsNotValid
{
    background-color: rgb(190, 91, 91);
}
#MainDiv
{
    width: 50%;
   background-color:antiquewhite;
   
   margin-right: 22%;
   margin-left:22% ;
   padding: 5%;
   


}
label
{
    font-size: larger;
    font-style:bold;
    
}
input
{
    width: 50%;
    align-self: center;
}
h1{
    font-size: xx-large;
    text-align: center;
}