<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a  (click)="loadData()" mat-list-item routerLink="/Students">Students List</a>
      <a  (click)="loadData()" mat-list-item routerLink="New">Add Student</a>
      <a  (click)="loadData()" mat-list-item routerLink="edit">Add Student(New)</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="loaderService.isLoading |async" class="loader-container">
    
     <mat-spinner style="top:50%;left: 50%;"></mat-spinner>
    </div>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Task1</span>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
